<div class="for-bunt"><button nz-button nzType="default" (click)="showForm()"> Add new car </button></div>
<app-car-form></app-car-form>
<nz-table
  nzShowSizeChanger
  [nzData]="listOfRandomUser"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)">

  <thead>
  <tr>
    <th nzColumnKey="name" [nzSortFn]="true">Name</th>
    <th nzColumnKey="model" [nzSortFn]="true">Model</th>
    <th nzColumnKey="numbermoldel" [nzSortFn]="true">Number of Car</th>
    <th >Data of Insert</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfRandomUser; let i = index" >
    <td>{{data.name}}</td>
    <td >{{ data.model }}</td>
    <td >{{ data.numbermoldel }}</td>
    <td >{{ data.datatime }}</td>
    <td>
      <button class="btn-view" nz-icon nzType="eye" nzTheme="outline" (click)="showFormView(listOfRandomUser[i])"></button>
      <button class="btn-update" nz-icon nzType="edit" nzTheme="outline" ></button>
      <button class="btn-delete" nz-icon nzType="delete" nzTheme="outline"></button>
    </td>

  </tr>
  </tbody>
</nz-table>

