.btn-view ,.btn-update{
  background-color: white;
  margin: 15px;
  font-size: 23px;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0.6;

}

.btn-delete{
  background-color: white;
  margin: 15px;
  font-size: 23px;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  opacity: 0.6;
}

.for-bunt{
  display: flex;
  justify-content:flex-end;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
}
